<?xml version="1.0"?>
<model>
  <name>omni_hex</name>
  <version>1.0</version>
  <sdf version='1.6'>omni_hex.sdf</sdf>

  <author>
   <name>Yueqian Liu</name>
   <email>yueqianliu@outlook.com</email>
  </author>

  <description>
    This is a model of the omni-directional aerial manipulator hexacopter platform.
  </description>
</model>
